<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
  <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{- partial "favicon.html" . -}}
  <title>{{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{- end }}</title>

  {{- partial "seo_tags.html" . -}}
  <meta name="referrer" content="no-referrer-when-downgrade" />

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{- partial "style.html" . -}}
  {{- partial "custom_head.html" . -}}
</head>

<body>
  <div class="layout">
    <aside class="sidebar">
      <a href="{{ "" | relURL }}" class="title">
        <h2>{{ .Site.Title }}</h2>
      </a>
      <nav>
        {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}
      </nav>
    </aside>
    <div class="main-content">
      <main>
        {{- block "main" . }}{{- end }}
      </main>
      <footer>
        {{- partial "footer.html" . -}}
      </footer>
    </div>
  </div>
  {{- partial "custom_body.html" . -}}
</body>

</html>
